<TabView>
    <!-- Tab1: Profile  -->
    <StackLayout *tabItem="{title: 'Profile'}">
        <ScrollView sdkExampleTitle sdkToggleNavButton>
            <StackLayout class="page">
            </StackLayout>
        </ScrollView>
    </StackLayout>

    <!-- Tab2: Préferences  -->
    <StackLayout *tabItem="{title: 'Préferences'}">
        <ScrollView sdkExampleTitle sdkToggleNavButton>
            <StackLayout class="page">
            </StackLayout>
        </ScrollView>
    </StackLayout> 
    <!-- Tab2: Notifications  -->
    <StackLayout *tabItem="{title: 'Notifications'}">
        <ScrollView sdkExampleTitle sdkToggleNavButton>
            <StackLayout class="page">
            </StackLayout>
        </ScrollView>
    </StackLayout> 
</TabView>