StackLayout {   
  padding: 30 30 30 30;
  background:transparent; 
  font-size: 20px; 
  color: white;
}
Image {
    margin-bottom: 20; 
} 
Button, TextField {
    margin-left: 16;
    margin-right: 16;
    margin-bottom: 10;
}
.submit-button {
    background-color: #8b108f;
    color: #f5d2f7;
    margin-top: 20;
  }
  